<div fxLayout="row wrap">
  <div fxFlex="20%">20%</div>
  <div fxFlex="30%" class="save-video-form">
    <div class="mat-title">Enter Video Details</div>
    <form action="" [formGroup]="videoForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Enter a Video Title."
          type="text"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          matInput
          matInput
          formControlName="description"
          placeholder="Enter the Video Description."
          type="text"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select matInput formControlName="videoStatus">
          <mat-option value="PUBLIC">PUBLIC</mat-option>
          <mat-option value="PRIVATE">PRIVATE</mat-option>
          <mat-option value="UNLISTED">UNLISTED</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="tag-chip-list" appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
            {{ tag }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
      <button
        type="submit"
        color="primary"
        mat-raised-button
        class="register-button"
      >
        <mat-icon>save</mat-icon>
        Save
      </button>
    </form>
  </div>
  <div fxFlex="30%">30%</div>
  <div fxFlex="20%">20%</div>
</div>
