<div class="outer-container">
  <app-chips-bar
    [videoTags]="videoTags"
    (tagChanged)="onTagChange($event)"
  ></app-chips-bar>
  <div class="container">
    <div class="outer" *ngFor="let videoAuthor of combinedVideoAuthor">
      <div
        routerLink="/watch-video/{{ videoAuthor.video.id }}"
        *ngIf="videoAuthor | searchCompare : selectedTag"
        class="video-card"
      >
        <div class="inner" matRipple matRippleColor="#e5e5e5;">
          <div class="thumbnail">
            <img
              mat-card-image
              src="{{ videoAuthor.video.thumbnailUrl }}"
              class="thumbnail-image"
              alt="thumbnail"
            />
          </div>
          <div class="top">
            <div class="header-image">
              <div class="header">
                <img
                  class="header-image"
                  src="{{ videoAuthor.author.picture }}"
                  alt="display-picture"
                  referrerpolicy="no-referrer"
                />
              </div>
            </div>
            <div class="middle">
              <div class="title">
                {{ videoAuthor.video.title }}
              </div>
              <div
                class="channel-name"
                matTooltip="{{ videoAuthor.author.fullName }}"
              >
                {{ videoAuthor.author.fullName }}
              </div>
              <div class="metrics">
                <span class="views"
                  >{{ videoAuthor.video.views | views }} views</span
                >
                <span class="bullet-point"> &bull;</span>
                <span class="relative-time">{{
                  videoAuthor.video.publishedAt | relativeTime
                }}</span>
              </div>
            </div>
            <div
              class="save-action"
              (click)="stopPropagation($event)"
              [matMenuTriggerFor]="menu"
              *ngIf="isAuthenticated"
            >
              <button mat-icon-button class="save-btn">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div
              class="save-action"
              (click)="stopPropagation($event)"
              [matMenuTriggerFor]="signInMenu"
              [matMenuTriggerData]="{
                title: 'Want to watch this again later?',
                subtitle: 'Sign in to add this video to watch later.'
              }"
              *ngIf="!isAuthenticated"
            >
              <button mat-icon-button class="save-btn">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <mat-menu #signInMenu="matMenu" class="sign-in-menu">
              <ng-template
                matMenuContent
                let-title="title"
                let-subtitle="subtitle"
              >
                <div class="sign-in">
                  <div class="menu-title">{{ title }}</div>
                  <div class="menu-subtitle">
                    {{ subtitle }}
                  </div>
                  <div class="button">
                    <button mat-flat-button (click)="login()">Sign in</button>
                  </div>
                </div>
              </ng-template>
            </mat-menu>
            <mat-menu #menu="matMenu" class="actions-menu">
              <button
                mat-menu-item
                (click)="addToWatchLater(videoAuthor.video.id)"
              >
                <mat-icon class="save-options">schedule</mat-icon>
                <span class="save-options">Save to Watch later</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
