<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [mode]="mode" [opened]="homePage">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="titleFlag = !titleFlag"
        class="hide-in-mobile"
        (click)="drawer.toggle()"
        *ngIf="!homePage"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="titleFlag = !titleFlag"
        class="hide-in-mobile"
        *ngIf="homePage"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>YouTube</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" matTooltip="Home">
        <mat-icon mat-list-icon class="sidenav-icons">home</mat-icon>
        <span class="sidenav-item">Home</span>
      </a>
      <a mat-list-item matTooltip="Login" *ngIf="!isAuthenticated">
        <mat-icon mat-list-icon class="sidenav-icons">login</mat-icon>
        <span class="sidenav-item">Sign In</span>
      </a>
      <a
        mat-list-item
        matTooltip="Subscriptions"
        routerLink="/subscriptions"
        *ngIf="isAuthenticated"
      >
        <mat-icon mat-list-icon class="sidenav-icons">subscriptions</mat-icon>
        <span class="sidenav-item">Subscriptions</span>
      </a>
      <a
        mat-list-item
        matTooltip="Watch History"
        routerLink="/history"
        *ngIf="isAuthenticated"
      >
        <mat-icon mat-list-icon class="sidenav-icons">history</mat-icon>
        <span class="sidenav-item">Watch History</span>
      </a>
      <a
        mat-list-item
        matTooltip="Liked Videos"
        routerLink="/liked-videos"
        *ngIf="isAuthenticated"
      >
        <mat-icon mat-list-icon class="sidenav-icons">thumb_up</mat-icon>
        <span class="sidenav-item">Liked Videos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="hide-in-mobile"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (click)="titleFlag = !titleFlag"
        *ngIf="!homePage && titleFlag"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span
        *ngIf="!homePage && titleFlag"
        class="app-heading"
        routerLink="/home"
        >YouTube</span
      >
      <span class="menu-spacer"></span>
      <button mat-icon-button routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog()" matTooltip="Upload">
        <mat-icon>video_call</mat-icon>
      </button>
      <button
        *ngIf="!isAuthenticated"
        mat-button
        matTooltip="login"
        (click)="login()"
      >
        <span>Sign In</span>
      </button>

      <div *ngIf="isAuthenticated">
        <div class="avatar-parent">
          <button mat-button class="user-button" [matMenuTriggerFor]="menu">
            <img
              mat-card-avatar
              class="avatar-image"
              src="{{ currentUser.picture }}"
              alt="display-picture"
            />
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <!-- <div class="hello-user" mat-menu-item disabled>
            Hello, {{ currentUser.firstName }}
          </div> -->
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
