<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="mode"
    [opened]="homePage"
    [ngClass]="homePage ? 'sidenav-home' : 'sidenav-other'"
  >
    <mat-toolbar [ngClass]="homePage ? 'home-component' : 'other-component'">
      <div class="burger-btn" *ngIf="!homePage">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          class="hide-in-mobile"
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span class="youtube">YouTube</span>
      </div>
      <div class="youtube-btn" *ngIf="homePage">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          class="hide-in-mobile"
          class="youtube-icon-btn"
        >
          <mat-icon class="youtube-icon">smart_display</mat-icon>
        </button>
        <span routerLink="/home" class="youtube">YouTube</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        matTooltip="Home"
        class="sidenav-list-item"
      >
        <mat-icon mat-list-icon class="sidenav-icons">home</mat-icon>
        <span class="sidenav-item">Home</span>
      </a>
      <a
        mat-list-item
        matTooltip="Login"
        *ngIf="!isAuthenticated"
        class="sidenav-list-item"
      >
        <mat-icon mat-list-icon class="sidenav-icons">login</mat-icon>
        <span class="sidenav-item">Sign In</span>
      </a>
      <a
        mat-list-item
        matTooltip="Subscriptions"
        routerLink="/subscriptions"
        *ngIf="isAuthenticated"
        class="sidenav-list-item"
      >
        <mat-icon mat-list-icon class="sidenav-icons">subscriptions</mat-icon>
        <span class="sidenav-item">Subscriptions</span>
      </a>
      <mat-divider
        class="toolbar-divider"
        *ngIf="isAuthenticated"
      ></mat-divider>
      <a
        mat-list-item
        matTooltip="History"
        routerLink="/history"
        *ngIf="isAuthenticated"
        class="sidenav-list-item"
      >
        <mat-icon mat-list-icon class="sidenav-icons">history</mat-icon>
        <span class="sidenav-item">History</span>
      </a>
      <a
        mat-list-item
        matTooltip="Watch Later"
        routerLink="/watch-later"
        *ngIf="isAuthenticated"
        class="sidenav-list-item"
      >
        <mat-icon mat-list-icon class="sidenav-icons">schedule</mat-icon>
        <span class="sidenav-item">Watch Later</span>
      </a>
      <a
        mat-list-item
        matTooltip="Liked Videos"
        routerLink="/liked-videos"
        *ngIf="isAuthenticated"
        class="sidenav-list-item"
      >
        <mat-icon mat-list-icon class="sidenav-icons">thumb_up</mat-icon>
        <span class="sidenav-item">Liked Videos</span>
      </a>
      <mat-divider
        class="toolbar-divider"
        *ngIf="isAuthenticated"
      ></mat-divider>
      <div class="subscriptions-heading" *ngIf="isAuthenticated">
        Subscriptions
      </div>
      <div class="subscriptions-container" *ngIf="isAuthenticated">
        <a
          mat-list-item
          class="subscriptions sidenav-list-item"
          *ngFor="let subscription of subscriptions"
        >
          <img
            src="{{ subscription.picture }}"
            alt="display-picture"
            mat-card-avatar
            class="display-picture"
            matTooltip="{{ subscription.fullName }}"
          />
          <div
            class="subscription-name"
            matTooltip="{{ subscription.fullName }}"
          >
            {{ subscription.fullName }}
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="hide-in-mobile"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!homePage"
      >
        <mat-icon aria-label="Side nav toggle icon" class="toolbar-icons"
          >menu</mat-icon
        >
      </button>
      <span *ngIf="!homePage" class="app-heading youtube" routerLink="/home"
        >YouTube</span
      >
      <span class="menu-spacer"></span>
      <div class="search-bar">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <div class="outer-search">
            <mat-form-field appearance="outline" class="search-input group">
              <mat-icon class="prefix-icon" *ngIf="activeFlag">
                search
              </mat-icon>
              <button
                mat-icon-button
                class="suffix-btn"
                type="reset"
                (click)="onReset()"
                *ngIf="searchForm.value.input !== ''"
              >
                <mat-icon class="suffix-icon">close</mat-icon>
              </button>
              <input
                matInput
                placeholder="Search"
                (focusin)="activeFlag = true"
                (focusout)="activeFlag = false"
                formControlName="input"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete" disabled="true">
              </mat-autocomplete>
            </mat-form-field>
            <div class="search-btn-div">
              <button
                mat-flat-button
                class="search-btn"
                type="submit"
                [disabled]="searchForm.value.input === ''"
              >
                <mat-icon class="search-icon">search</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
      <span class="menu-spacer"></span>
      <button mat-icon-button routerLink="/home" matTooltip="Home">
        <mat-icon class="toolbar-icons">home</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog()" matTooltip="Upload">
        <mat-icon class="toolbar-icons">video_call</mat-icon>
      </button>
      <button
        *ngIf="!isAuthenticated"
        mat-button
        matTooltip="login"
        (click)="login()"
        class="toolbar-icons"
      >
        <span>Sign In</span>
      </button>

      <div *ngIf="isAuthenticated">
        <div class="avatar-parent">
          <button mat-button class="user-button" [matMenuTriggerFor]="menu">
            <mat-card>
              <mat-card-header>
                <img
                  mat-card-avatar
                  class="avatar-image"
                  src="{{ currentUser.picture }}"
                  alt="display-picture"
                />
              </mat-card-header>
            </mat-card>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <!-- <div class="hello-user" mat-menu-item disabled>
            Hello, {{ currentUser.firstName }}
          </div> -->
          <button mat-menu-item (click)="logout()">Logout</button>
          <button mat-menu-item (click)="openSaveVideo()">save</button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
