* {
  box-sizing: border-box;
  background-color: white;
}

.sidenav-container {
  height: 100%;
}

.sidenav-home {
  width: 200px;
}

.sidenav-other {
  width: 210px;
}

.sidenav-alt {
  width: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.user-button {
  padding: 6px 8px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu-spacer {
  flex: 1 1 auto;
}

.avatar-parent {
  display: flex;
  align-items: center;
}

.hello-user {
  color: black;
}

.sidenav-icons {
  margin-right: 20px;
}

.sidenav-list-item {
  height: 40px !important;
  border-radius: 10px;
  margin-left: 10px;
  width: 190px !important;
  margin-bottom: 5px;
  padding-left: 0px !important;
}

.sidenav-list-item:hover .sidenav-icons {
  background-color: #f2f2f2;
}

.sidenav-list-item:focus .sidenav-icons {
  background-color: #e5e5e5;
}

.sidenav-list-item:hover {
  background-color: #f2f2f2;
}

.sidenav-list-item:focus {
  background-color: #e5e5e5;
}

.sidenav-list-item:hover .sidenav-item {
  background-color: #f2f2f2;
}

.sidenav-list-item:focus .sidenav-item {
  background-color: #e5e5e5;
}

.sidenav-item {
  font-size: 15px;
}

.youtube-icon {
  font-size: 35px;
  height: auto;
  width: auto;
}

.youtube-icon-btn {
  color: rgb(255, 0, 0);
}

.youtube-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 7px;
}

.burger-btn {
  display: flex;
  align-items: center;
}

:host ::ng-deep .home-component {
  background-color: #ffffff;
}

.mat-sidenav {
  border: none;
  background-color: #ffffff;
}

.mat-toolbar {
  background-color: #ffffff;
  color: black;
}

.toolbar-icons {
  color: black;
}

.app-heading {
  color: black;
}

/* SEARCH */

:host .outer-search {
  display: flex;
  align-items: center;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
  margin: 0;
}

:host ::ng-deep .search-input .mat-form-field-wrapper {
  padding-bottom: 0;
}

/* form-field */
:host .mat-form-field {
  width: 600px;
}

/* input */
:host ::ng-deep .mat-form-field-infix {
  border-top: 5px solid transparent;
  font-size: 17px;
}

:host ::ng-deep .mat-toolbar .mat-input-element {
  height: 43px;
}

:host ::ng-deep .mat-form-field-outline-start {
  border-radius: 40px 0 0 40px !important;
  min-width: 40px !important;
}

:host ::ng-deep .mat-form-field-outline-end {
  border-radius: 0 0px 0px 0 !important;
}

:host .search-btn {
  border-radius: 0px 40px 40px 0px;
  background-color: #f8f8f8;
  height: 42px;
  border: 1px solid rgb(211, 211, 211);
  border-left: none;
}

.search-btn:hover {
  background-color: #f0f0f0;
}

.search-btn:disabled {
  background-color: #f8f8f8;
}

.search-btn:disabled.search-btn:hover {
  background-color: #f0f0f0;
}
.search-icon {
  background-color: transparent;
  font-size: 28px;
  margin-bottom: 6px;
}

.search-btn:disabled .search-icon {
  color: black;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline {
  color: rgba(6, 95, 212, 0.6);
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-start,
:host
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-end,
:host
  ::ng-deep.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-gap {
  border-width: 1px !important;
}

.prefix-icon {
  margin-bottom: 3px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: lighter;
}

.suffix-btn {
  float: right;

  background-color: transparent;
}

.suffix-icon {
  font-size: 27px;
  background-color: transparent;
}

:host .mat-input-field {
  background-color: transparent !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none;
}

/* SEARCH */

/*AVATAR*/

.mat-card {
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}
.mat-card-header {
  background: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  width: 40px;
}

/*AVATAR*/

.toolbar-divider {
  margin: 15px 0px;
  margin-left: 10px;
  text-overflow: visible;
}

.subscriptions-heading {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.display-picture {
  height: 27px;
  width: 27px;
  margin-left: 3px;
}

.subscriptions {
  display: flex;
  align-items: center;
  /* margin-left: 16px; */
  padding-left: 12px;
  gap: 20px;
}

.subscription-name {
  font-size: 15px;
  margin-left: 20px;
}

.sidenav-list-item:hover .subscription-name {
  background-color: #f2f2f2;
}

.sidenav-list-item:focus .subscription-name {
  background-color: #e5e5e5;
}

.youtube {
  cursor: pointer;
}

mat-sidenav-container {
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hide-in-mobile {
    display: none;
  }

  .app-heading {
    font-size: 1.1rem;
  }

  .username {
    display: none;
  }

  .user-button {
    padding: 0 0;
    min-width: 20px;
  }

  .arrow-icon {
    padding: none;
  }
}

/*CLEARING FLOAT*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
