<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (click)="titleFlag = !titleFlag"
        class="hide-in-mobile"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Pollution-Check</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" matTooltip="Home">
        <mat-icon mat-list-icon class="">home</mat-icon>
        <span>Home</span>
      </a>
      <a
        mat-list-item
        matTooltip="upload video"
        routerLink="/upload-video"
      >
        <mat-icon mat-list-icon class="">video_call</mat-icon>
        <span>Upload Video</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="hide-in-mobile"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (click)="titleFlag = !titleFlag"
        *ngIf="titleFlag"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="titleFlag" class="app-heading">Pollution-Check</span>
      <span class="menu-spacer"></span>
      <button mat-icon-button routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button
        
        mat-button
        routerLink="/accounts/login"
        matTooltip="login"
      >
        <span>Sign In</span>
      </button>
      <button
        
        mat-icon-button
        routerLink="/upload-video"
        matTooltip="Upload"
      >
        <mat-icon>video_call</mat-icon>
      </button>
      <button
        
        mat-icon-button
        routerLink="/search"
        matTooltip="Search AQI"
      >
        <mat-icon>search</mat-icon>
      </button>
      <div >
        <button
          mat-button
          class="user-button"
          [matMenuTriggerFor]="menu"
          
        >
          <span class="username">Hi, </span>

          <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button routerLink="/accounts/profile" mat-menu-item>
            User Profile
          </button>

          <button  mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

