.page-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.day-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}

.outer-container {
  margin-bottom: 50px;
}
