<div fxLayout="row">
  <div fxFlex="65%" class="container">
    <mat-card class="video-card">
      <app-video-player
        class="video-player"
        [videoUrl]="videoDetails.url"
        *ngIf="videoAvailable"
      ></app-video-player>
      <div class="video-title">{{ videoDetails.title }}</div>
      <mat-card-header>
        <img
          mat-card-avatar
          class="header-image"
          src="{{ videoDetails.thumbnailUrl }}"
          alt="display-picture"
        />

        <mat-card-title class="channel-title">
          {{ user.fullName }}
        </mat-card-title>
        <mat-card-subtitle class="subtitle"
          >{{ user.subscribers.length | views }} subscribers
        </mat-card-subtitle>
        <div class="actions group">
          <button
            mat-flat-button
            class="subscribe-button"
            *ngIf="!subscribed"
            (click)="subscribed = !subscribed"
            (click)="onSubscribe()"
          >
            Subscribe
          </button>
          <button
            mat-flat-button
            class="subscribed-button"
            *ngIf="subscribed"
            (click)="subscribed = !subscribed"
            (click)="onUnsubscribe()"
          >
            Subscribed
          </button>
          <span class="actions-container">
            <button mat-flat-button class="like" (click)="onLike()">
              <mat-icon *ngIf="likeFlag" matTooltip="I like this"
                >thumb_up</mat-icon
              >
              <mat-icon *ngIf="!likeFlag" matTooltip="Unlike"
                >thumb_up_off_alt</mat-icon
              >
              <span class="like-count">{{ videoDetails.likes }}</span>
            </button>

            <button mat-flat-button class="dislike" (click)="onDislike()">
              <mat-icon *ngIf="dislikeFlag" matTooltip="I dislike this"
                >thumb_down</mat-icon
              >
              <mat-icon *ngIf="!dislikeFlag" matTooltip="I dislike this"
                >thumb_down_off_alt</mat-icon
              >
              <span class="like-count">{{ videoDetails.dislikes }}</span>
            </button>
          </span>
        </div>
        <!-- <mat-card-subtitle class="subtitle">
          <span class="views">{{ videoDetails.views | views }} views</span>
          <span class="bullet-point"> &bull;</span>
          <span class="views">{{ videoDetails.date | relativeTime }}</span>
          <div class="relative-time"></div>
        </mat-card-subtitle> -->
      </mat-card-header>
    </mat-card>
    <app-video-description
      [viewCount]="videoDetails.views"
      [date]="videoDetails.publishedAt"
      [tags]="videoDetails.tags"
      [description]="videoDetails.description"
    ></app-video-description>
    <app-comments></app-comments>
    <div class="temp">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, aliquam! Ea,
      ab maxime blanditiis reiciendis omnis recusandae tenetur id corporis
      similique incidunt illum quos corrupti officia quibusdam aut eligendi
      architecto laborum. Eveniet possimus atque laudantium corporis beatae
      exercitationem repellat repellendus amet aut? Quod earum perferendis
      aperiam. Incidunt eos, ut minima ratione impedit quidem similique magni
      quia necessitatibus quae minus nihil blanditiis obcaecati odio dolor
      accusamus quod. Omnis laudantium ducimus aut reprehenderit eum? Architecto
      voluptatum repudiandae dolor obcaecati sunt? Iure illo quae quod
      perspiciatis a delectus cupiditate, eveniet nisi blanditiis? Dolore
      repudiandae vel adipisci ad labore ipsam, eius nihil. Voluptatum rerum
      labore dignissimos architecto commodi repellendus repudiandae culpa autem
      sed sit magni quod, aliquid iure eligendi vel quis nam consequatur
      assumenda at aperiam tempora nulla provident adipisci! Accusantium
      eligendi cum, et necessitatibus explicabo facilis quisquam perferendis
      deserunt! In assumenda laboriosam corrupti odit ad rem fuga tempore
      consequatur rerum, esse, inventore ex amet dignissimos adipisci alias,
      deserunt necessitatibus aliquam possimus. In esse, illo maiores numquam,
      ipsam tenetur sed commodi molestias error maxime assumenda. Minima dolor
      qui, asperiores porro voluptatem consequuntur illo. Dicta sequi quasi
      quibusdam ipsum excepturi laboriosam, blanditiis at iste voluptas modi, a
      magni sapiente quis sed quas eius odio exercitationem?
    </div>
  </div>
  <div fxFlex="5%">Video</div>
  <div fxFlex="30%">Video</div>
</div>
