<div fxLayout="row">
  <div fxFlex="65%" class="container">
    <mat-card class="video-card">
      <app-video-player
        class="video-player"
        [videoUrl]="videoDetails.url"
        *ngIf="videoAvailable"
      ></app-video-player>
      <div class="video-title">{{ videoDetails.title }}</div>
      <mat-card-header>
        <img
          mat-card-avatar
          class="header-image"
          src="{{ videoAuthor.picture }}"
          alt="display-picture"
          referrerpolicy="no-referrer"
        />

        <mat-card-title class="channel-title">
          {{ videoAuthor.fullName }}
        </mat-card-title>
        <mat-card-subtitle class="subtitle"
          >{{ videoSubscribers | views }} subscribers
        </mat-card-subtitle>
        <div class="actions">
          <button
            mat-flat-button
            class="subscribe-button"
            *ngIf="!subscribed && !sameAuthorViewer && isAuthenticated"
            (click)="onSubscribe()"
          >
            Subscribe
          </button>
          <button
            mat-flat-button
            class="subscribe-button"
            *ngIf="!isAuthenticated"
            [matMenuTriggerFor]="signInMenu"
            [matMenuTriggerData]="{
              title: 'Want to subscribe to this channel?',
              subtitle: 'Sign in to subscribe to this channel.'
            }"
          >
            Subscribe
          </button>
          <mat-menu
            #signInMenu="matMenu"
            class="sign-in-menu"
            [overlapTrigger]="false"
          >
            <ng-template
              matMenuContent
              let-title="title"
              let-subtitle="subtitle"
            >
              <div class="sign-in">
                <div class="menu-title">{{ title }}</div>
                <div class="menu-subtitle">
                  {{ subtitle }}
                </div>
                <div class="button">
                  <button mat-flat-button (click)="login()">Sign in</button>
                </div>
              </div>
            </ng-template>
          </mat-menu>
          <button
            mat-flat-button
            class="subscribed-button"
            *ngIf="subscribed && !sameAuthorViewer"
            (click)="onUnsubscribe()"
          >
            Subscribed
          </button>
          <span class="actions-spacer"></span>
          <div
            [ngClass]="
              !sameAuthorViewer
                ? 'actions-container'
                : 'different-actions-container'
            "
          >
            <button
              mat-flat-button
              class="like"
              (click)="onLike()"
              *ngIf="isAuthenticated"
            >
              <mat-icon *ngIf="likeFlag" matTooltip="Unlike">thumb_up</mat-icon>
              <mat-icon *ngIf="!likeFlag" matTooltip="I like this"
                >thumb_up_off_alt</mat-icon
              >
              <span class="like-count">{{ videoDetails.likes }}</span>
            </button>
            <button
              mat-flat-button
              class="like"
              [matMenuTriggerFor]="signInMenu"
              [matMenuTriggerData]="{
                title: 'Like this video?',
                subtitle: 'Sign in to make your opinion count.'
              }"
              *ngIf="!isAuthenticated"
            >
              <mat-icon *ngIf="likeFlag" matTooltip="Unlike">thumb_up</mat-icon>
              <mat-icon *ngIf="!likeFlag" matTooltip="I like this"
                >thumb_up_off_alt</mat-icon
              >
              <span class="like-count">{{ videoDetails.likes }}</span>
            </button>

            <button
              mat-flat-button
              class="dislike"
              (click)="onDislike()"
              *ngIf="isAuthenticated"
            >
              <mat-icon *ngIf="dislikeFlag" matTooltip="I dislike this"
                >thumb_down</mat-icon
              >
              <mat-icon *ngIf="!dislikeFlag" matTooltip="I dislike this"
                >thumb_down_off_alt</mat-icon
              >
              <span class="like-count">{{ videoDetails.dislikes }}</span>
            </button>
            <button
              mat-flat-button
              class="dislike"
              [matMenuTriggerFor]="signInMenu"
              [matMenuTriggerData]="{
                title: 'Don\'t like this video?',
                subtitle: 'Sign in to make your opinion count.'
              }"
              *ngIf="!isAuthenticated"
            >
              <mat-icon *ngIf="dislikeFlag" matTooltip="I dislike this"
                >thumb_down</mat-icon
              >
              <mat-icon *ngIf="!dislikeFlag" matTooltip="I dislike this"
                >thumb_down_off_alt</mat-icon
              >
              <span class="like-count">{{ videoDetails.dislikes }}</span>
            </button>
            <button
              mat-icon-button
              class="options-btn"
              [matMenuTriggerFor]="menu"
              *ngIf="isAuthenticated"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button
              mat-icon-button
              class="options-btn"
              [matMenuTriggerFor]="signInMenu"
              [matMenuTriggerData]="{
                title: 'Want to watch this again later?',
                subtitle: 'Sign in to add this video to watch later.'
              }"
              *ngIf="!isAuthenticated"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu
              #menu="matMenu"
              class="save-menu"
              [overlapTrigger]="false"
            >
              <button mat-menu-item (click)="addToWatchLater()">
                <mat-icon class="save-btn">schedule</mat-icon>
                <span class="save-btn">Add to Watch later</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    <app-video-description
      *ngIf="videoAvailable"
      [viewCount]="videoDetails.views"
      [date]="videoDetails.publishedAt"
      [tags]="videoDetails.tags"
      [description]="videoDetails.description"
    ></app-video-description>
    <app-comments
      *ngIf="videoAvailable"
      [videoId]="videoDetails.id"
      [currentUser]="currentUser"
    ></app-comments>
  </div>
  <div fxFlex="30%">
    <app-suggestions (urlChange)="onUrlChange($event)"></app-suggestions>
  </div>
  <div fxFlex="5%"></div>
</div>
