.outer-container {
  display: flex;
  margin-left: 150px;
  align-items: flex-start;
  margin-top: 20px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.page-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.day-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}

.empty-text {
  text-align: center;
  font-weight: 400;
}
