<div class="container">
  <div
    class="inner-container"
    *ngFor="let videoAuthor of combinedVideoAuthor"
    routerLink="/watch-video/{{ videoAuthor.video.id }}"
  >
    <div class="history-card" *ngIf="videoAuthor | searchCompare : searchInput">
      <div class="thumbnail">
        <img
          src="{{ videoAuthor.video.thumbnailUrl }}"
          alt="thumbnail"
          class="thumbnail-image"
        />
      </div>
      <div class="other-details">
        <div class="top-details">
          <div class="video-title">
            {{ videoAuthor.video.title }}
          </div>
          <div class="title-spacer"></div>
          <div class="buttons">
            <div class="delete">
              <button
                mat-icon-button
                class="delete-btn"
                (click)="removeFromHistory(videoAuthor.video.id)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div
              class="options"
              (click)="stopPropagation($event)"
              [matMenuTriggerFor]="menu"
            >
              <button mat-icon-button class="options-btn">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="addToWatchLater(videoAuthor.video.id)"
                >
                  <mat-icon class="save-options">schedule</mat-icon>
                  <span class="save-options">Save to Watch later</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="metrics">
          <div
            class="channel-name"
            matTooltip="{{ videoAuthor.author.fullName }}"
          >
            {{ videoAuthor.author.fullName }}
          </div>
          <span class="bullet-point"> &bull;</span>
          <div class="view-count">
            {{ videoAuthor.video.views | views }} views
          </div>
        </div>
        <div class="description">{{ videoAuthor.video.description }}</div>
      </div>
    </div>
  </div>
</div>
