<div class="container">
  <div class="history-card">
    <div class="thumbnail">
      <img
        src="assets/ReynaClutch.jpg"
        alt="thumbnail"
        class="thumbnail-image"
      />
    </div>
    <div class="other-details">
      <div class="top-details">
        <div class="video-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
          unde ad provident aut ipsa quibusdam cum quia beatae reprehenderit
          laboriosam!
        </div>
        <div class="title-spacer"></div>
        <div class="buttons">
          <div class="delete">
            <button mat-icon-button class="delete-btn">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="options">
            <button mat-icon-button class="options-btn">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="metrics">
        <div class="channel-name">Aquib Azhar</div>
        <span class="bullet-point"> &bull;</span>
        <div class="view-count">{{ 1000 | views }}</div>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elita. La udantium
        voluptatum id, dignissimos sequi mollitia aspernatur iste deleniti quia
        voluptates aut!
      </div>
    </div>
  </div>
</div>
