<div class="outer-container" *ngIf="dataFetched">
  <div class="container" *ngFor="let videoAuthor of combinedVideoAuthor">
    <mat-card
      class="video-card"
      *ngIf="videoAuthor | searchCompare : searchInput"
      routerLink="/watch-video/{{ videoAuthor.video.id }}"
    >
      <div class="thumbnail">
        <img
          src="{{ videoAuthor.video.thumbnailUrl }}"
          alt="Photo of a Shiba Inu"
          class="thumbnail-image"
        />
      </div>

      <mat-card-header class="video-details">
        <mat-card-title class="title">
          <div class="top">
            <div class="video-title">
              {{ videoAuthor.video.title }}
            </div>
            <div
              class="save-actions"
              (click)="stopPropagation($event)"
              [matMenuTriggerFor]="menu"
              *ngIf="isAuthenticated"
            >
              <button mat-icon-button class="save-btn">
                <mat-icon class="mat-icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="addToWatchLater(videoAuthor.video.id)"
                >
                  <mat-icon class="save-options">schedule</mat-icon>
                  <span class="save-options">Save to Watch later</span>
                </button>
              </mat-menu>
            </div>
            <div
              class="save-actions"
              (click)="stopPropagation($event)"
              [matMenuTriggerFor]="signInMenu"
              [matMenuTriggerData]="{
                title: 'Want to watch this again later?',
                subtitle: 'Sign in to add this video to watch later.'
              }"
              *ngIf="!isAuthenticated"
            >
              <button mat-icon-button class="save-btn">
                <mat-icon class="mat-icon">more_vert</mat-icon>
              </button>
              <mat-menu #signInMenu="matMenu" class="sign-in-menu">
                <ng-template
                  matMenuContent
                  let-title="title"
                  let-subtitle="subtitle"
                >
                  <div class="sign-in">
                    <div class="menu-title">{{ title }}</div>
                    <div class="menu-subtitle">
                      {{ subtitle }}
                    </div>
                    <div class="button">
                      <button mat-flat-button (click)="login()">Sign in</button>
                    </div>
                  </div>
                </ng-template>
              </mat-menu>
            </div>
          </div>
        </mat-card-title>
        <mat-card-subtitle class="views-time"
          ><span class="views"
            >{{ videoAuthor.video.views | views }} views</span
          >
          <span class="bullet-point"> &bull;</span>
          <span class="relative-time">{{
            videoAuthor.video.publishedAt | relativeTime
          }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle class="channel-name">
          <div class="channel-avatar">
            <img
              mat-card-avatar
              src="{{ videoAuthor.author.picture }}"
              alt=""
              class="channel-avatar-img"
            />
          </div>
          <div class="full-name" matTooltip="{{ videoAuthor.author.fullName }}">
            {{ videoAuthor.author.fullName }}
          </div>
        </mat-card-subtitle>
        <mat-card-subtitle class="video-description">
          <div class="channel-description">
            {{ videoAuthor.video.description }}
          </div>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
