.outer-container {
  margin-top: 25px;
  width: 85%;
  margin-left: 130px;
  display: block;
}

.video-card {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 15px;
}

.thumbnail {
  align-self: flex-start;
  width: 31%;
}

.video-details {
  width: 55%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.thumbnail-image {
  margin: 0px;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.title {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 10px;
  line-height: 25px;
}

.top {
  display: flex;
  align-items: flex-start;
}

.video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-card {
  position: relative;
}

.save-actions {
  position: absolute;
  right: 120px;
  top: -8px;
  visibility: hidden;
}

.video-card:hover .save-actions {
  visibility: visible;
}

.save-options {
  color: black;
}

.channel-name {
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 20px;
  color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  gap: 8px;
}

.channel-avatar {
  height: 25px;
  width: 25px;
}

.channel-avatar-img {
  height: 25px;
  width: 25px;
}

.views-time {
  color: rgb(96, 96, 96);
  font-size: 12px;
  font-weight: 400;
  margin-left: 1px;
  margin-bottom: 15px;
}

.mat-card-header-text {
  margin: 0px;
}

.bullet-point {
  margin: 4px;
}

.video-description {
  color: rgb(96, 96, 96);
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
