.container {
  box-sizing: border-box;
  margin: 20px 0px;
  box-shadow: none;
  border: none;
  padding: 15px 0px;
  font-size: 15px;
}

.comment-count {
  font-size: 1rem;
  font-weight: 400;
}

.comment-header {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
}

.sort-btn {
  display: block;
  top: -12px;
  font-size: 16px;
}

.sort-btn .mat-icon {
  margin-right: 7px;
}

.add-comment {
  margin-bottom: 10px;
  display: flex;
  /* flex-wrap: nowrap; */
  /* align-items: flex-start; */
}

.display-comment {
  margin-bottom: 10px;
}

:host .mat-form-field {
  display: block;
  width: auto;
  padding: 0px;
}

.avatar {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
}

.comment {
  margin: 0px 10px;
  margin-bottom: 0px;
  padding: 0px;
  flex: 1;
}

.header-element {
  float: left;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0em !important;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.comment-btn {
  background-color: #065fd4;
  color: white;
  border-radius: 25px;
  width: auto;
}

.comment-btn:hover {
  background-color: #0556bf;
  color: white;
  border-radius: 25px;
}

.comment-btn:disabled {
  background-color: rgb(242, 242, 242);
  color: rgb(144, 144, 144);
}

.cancel-btn {
  border-radius: 25px;
  width: auto;
  margin-right: 5px;
  background-color: white;
}

.cancel-btn:hover {
  background-color: rgb(229, 229, 229);
}

.mat-card-header {
  width: 45px;
}

.display-comments {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.author-image {
  flex: 0 0 auto;
}

.actions {
  flex: 1;
}

.author-name {
  font-weight: 500;
  margin-right: 5px;
  font-size: 13px;
}

.published-at {
  font-size: 12px;
  color: rgb(96, 96, 96);
  font-weight: 400;
}

.author-details {
  margin-bottom: 5px;
}

.like-btn {
  padding: 0px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.dislike-btn {
  padding: 0px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.like-count {
  font-size: 13px;
  color: rgb(96, 96, 96);
  font-weight: 400;
}

.dislike-count {
  font-size: 13px;
  color: rgb(96, 96, 96);
  font-weight: 400;
}

.comment-card {
  margin-bottom: 15px;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px;
}

.comment-placeholder {
  font-size: 14px;
  font-weight: 500;
}

:host ::ng-deep input.mat-input-element {
  margin-top: 0px;
}

.comment-field {
  /* margin-bottom: 10px; */
  display: block;
}

:host ::ng-deep .mat-form-field-label-wrapper {
  top: -24px;
  padding-bottom: 20px;
}

.comment-input {
  font-size: 14px;
  padding-bottom: 5px;
}

.comment-form {
  margin-bottom: 25px;
}

::ng-deep .comment-form .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep .comment-form .mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
}

::ng-deep .comment-form .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: black !important;
}

.active-type {
  background-color: #cccccc;
}
.active-type:hover {
  background-color: #b8b8b8;
}

.save-menu .mat-menu-item:hover {
  background-color: black;
}

.header-icon mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.header-icon {
  height: 40px;
  width: 40px;
}

/* SIGN IN MENU*/

::ng-deep .sign-in-menu {
  max-width: 400px !important;
  box-sizing: border-box;
}

.sign-in {
  padding-top: 20px;
  padding-left: 20px;
  height: 140px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.sign-in .menu-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.sign-in .menu-subtitle {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.sign-in .button {
  margin-top: auto;
  position: relative;
  left: -16px;
  color: blue;
}

.sign-in .button button {
  color: #065fd4;
}

/* SIGN IN MENU*/
