<div class="container">
  <div class="comment-form">
    <div class="comment-header">
      <span class="comment-count">{{ comments.length }} Comments</span>
    </div>
    <div class="add-comment">
      <div class="avatar header-element">
        <mat-card-header>
          <img
            mat-card-avatar
            class="header-image"
            src="{{ currentUser.picture }}"
            alt="display-picture"
            referrerpolicy="no-referrer"
          />
        </mat-card-header>
      </div>

      <div class="comment header-element">
        <form (ngSubmit)="onComment()" [formGroup]="commentForm">
          <mat-form-field appearance="fill" class="comment-field">
            <mat-label>Add a comment...</mat-label>
            <input
              matInput
              class="comment-input"
              (focus)="inputIsFocussed = true"
              formControlName="comment"
            />
          </mat-form-field>
          <div class="buttons">
            <button
              *ngIf="inputIsFocussed"
              mat-flat-button
              class="cancel-btn"
              (click)="inputIsFocussed = false"
              type="reset"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button
              type="submit"
              *ngIf="inputIsFocussed"
              mat-flat-button
              class="comment-btn"
              [disabled]="!commentForm.get('comment')?.value"
            >
              Comment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="comment-card" *ngFor="let commentAuthor of combinedCommentAuthor">
    <div class="display-comments">
      <div class="author-image">
        <mat-card-header>
          <img
            mat-card-avatar
            class="comennt-image"
            src="{{ commentAuthor.author.picture }}"
            alt="display-picture"
            referrerpolicy="no-referrer"
          />
        </mat-card-header>
      </div>
      <div class="other-details">
        <div class="author-details">
          <span class="author-name">{{ commentAuthor.author.fullName }}</span>
          <span class="published-at">
            {{ commentAuthor.comment.publishedAt | relativeTime }}
          </span>
        </div>
        <div class="comment-content">{{ commentAuthor.comment.text }}</div>
        <div class="actions">
          <button mat-mini-fab class="action-buttons like-btn">
            <mat-icon matTooltip="like">thumb_up_off_alt</mat-icon>
          </button>
          <span class="like-count">{{ 100 | views }}</span>
          <button mat-mini-fab class="action-buttons dislike-btn">
            <mat-icon matTooltip="dislike">thumb_down_off_alt</mat-icon>
          </button>
          <span class="dislike-count">{{ 100 | views }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
