<div class="container">
  <div class="comment-form">
    <div class="comment-header">
      <div class="comment-count">{{ comments.length }} Comments</div>
      <div class="comment-sort">
        <button mat-flat-button class="sort-btn" [matMenuTriggerFor]="menu">
          <mat-icon>sort</mat-icon>
          <span>Sort by</span>
        </button>
        <mat-menu #menu="matMenu" class="save-menu">
          <button
            mat-menu-item
            [ngClass]="{ 'active-type': sortType === 'topComments' }"
            (click)="topComments()"
          >
            <span>Top comments</span>
          </button>
          <button
            mat-menu-item
            [ngClass]="{ 'active-type': sortType === 'newestFirst' }"
            (click)="newestFirst()"
          >
            <span>Newest first</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="add-comment">
      <div class="avatar header-element">
        <mat-card-header>
          <img
            *ngIf="isAuthenticated"
            mat-card-avatar
            class="header-image"
            src="{{ currentUser.picture }}"
            alt="display-picture"
            referrerpolicy="no-referrer"
          />
        </mat-card-header>
        <div class="header-icon" *ngIf="!isAuthenticated">
          <mat-icon>account_circle</mat-icon>
        </div>
      </div>
      <mat-menu
        #signInMenu="matMenu"
        class="sign-in-menu"
        [overlapTrigger]="false"
      >
        <ng-template matMenuContent let-title="title" let-subtitle="subtitle">
          <div class="sign-in">
            <div class="menu-title">{{ title }}</div>
            <div class="menu-subtitle">
              {{ subtitle }}
            </div>
            <div class="button">
              <button mat-flat-button (click)="login()">Sign in</button>
            </div>
          </div>
        </ng-template>
      </mat-menu>
      <div class="comment header-element">
        <form (ngSubmit)="onComment()" [formGroup]="commentForm">
          <mat-form-field appearance="legacy" class="comment-field">
            <mat-label class="comment-placeholder" *ngIf="!inputIsFocussed"
              >Add a comment...</mat-label
            >
            <input
              matInput
              class="comment-input"
              (focus)="inputIsFocussed = true"
              formControlName="comment"
            />
          </mat-form-field>
          <div class="buttons">
            <button
              *ngIf="inputIsFocussed"
              mat-flat-button
              class="cancel-btn"
              (click)="inputIsFocussed = false"
              type="reset"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button
              type="submit"
              *ngIf="inputIsFocussed && isAuthenticated"
              mat-flat-button
              class="comment-btn"
              [disabled]="!commentForm.get('comment')?.value"
            >
              Comment
            </button>
            <button
              [matMenuTriggerFor]="signInMenu"
              [matMenuTriggerData]="{
                title: 'Want to share your thoughts about this video?',
                subtitle: 'Sign in to post a comment.'
              }"
              *ngIf="inputIsFocussed && !isAuthenticated"
              mat-flat-button
              class="comment-btn"
              [disabled]="!commentForm.get('comment')?.value"
            >
              Comment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="comment-card" *ngFor="let commentAuthor of combinedCommentAuthor">
    <div class="display-comments">
      <div class="author-image">
        <mat-card-header>
          <img
            mat-card-avatar
            class="comennt-image"
            src="{{ commentAuthor.author.picture }}"
            alt="display-picture"
            referrerpolicy="no-referrer"
          />
        </mat-card-header>
      </div>
      <div class="other-details">
        <div class="author-details">
          <span class="author-name">{{ commentAuthor.author.fullName }}</span>
          <span class="published-at">
            {{ commentAuthor.comment.publishedAt | relativeTime }}
          </span>
        </div>
        <div class="comment-content">{{ commentAuthor.comment.text }}</div>
        <div class="actions">
          <button
            mat-mini-fab
            class="action-buttons like-btn"
            (click)="onLike(commentAuthor.comment.id)"
            *ngIf="isAuthenticated"
          >
            <mat-icon matTooltip="like" *ngIf="commentAuthor.comment.likeFlag"
              >thumb_up</mat-icon
            >
            <mat-icon matTooltip="like" *ngIf="!commentAuthor.comment.likeFlag"
              >thumb_up_off_alt</mat-icon
            >
          </button>
          <button
            mat-mini-fab
            class="action-buttons like-btn"
            [matMenuTriggerFor]="signInMenu"
            [matMenuTriggerData]="{
              title: 'Like this comment?',
              subtitle: 'Sign in to make your opinion count.'
            }"
            *ngIf="!isAuthenticated"
          >
            <mat-icon matTooltip="like" *ngIf="commentAuthor.comment.likeFlag"
              >thumb_up</mat-icon
            >
            <mat-icon matTooltip="like" *ngIf="!commentAuthor.comment.likeFlag"
              >thumb_up_off_alt</mat-icon
            >
          </button>
          <span class="like-count">{{
            commentAuthor.comment.likes | views
          }}</span>
          <button
            mat-mini-fab
            class="action-buttons dislike-btn"
            (click)="onDislike(commentAuthor.comment.id)"
            *ngIf="isAuthenticated"
          >
            <mat-icon
              matTooltip="dislike"
              *ngIf="commentAuthor.comment.dislikeFlag"
              >thumb_down</mat-icon
            >
            <mat-icon
              matTooltip="dislike"
              *ngIf="!commentAuthor.comment.dislikeFlag"
              >thumb_down_off_alt</mat-icon
            >
          </button>
          <button
            mat-mini-fab
            class="action-buttons dislike-btn"
            [matMenuTriggerFor]="signInMenu"
            [matMenuTriggerData]="{
              title: 'Don\'t like this comment?',
              subtitle: 'Sign in to make your opinion count.'
            }"
            *ngIf="!isAuthenticated"
          >
            <mat-icon
              matTooltip="dislike"
              *ngIf="commentAuthor.comment.dislikeFlag"
              >thumb_down</mat-icon
            >
            <mat-icon
              matTooltip="dislike"
              *ngIf="!commentAuthor.comment.dislikeFlag"
              >thumb_down_off_alt</mat-icon
            >
          </button>
          <span class="dislike-count">{{
            commentAuthor.comment.dislikes | views
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
